@charset "UTF-8";

* {
	font-family: "Roboto", sans-serif;
}

.overflow-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@keyframes spin-loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spin-loading {
	animation: spin-loading 1s linear infinite;
}
