@charset "UTF-8";

@font-face {
	font-family: "Roboto Local";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Local";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: "Roboto", "Roboto Local", sans-serif;
}

.overflow-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@keyframes spin-loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spin-loading {
	animation: spin-loading 1s linear infinite;
}
